@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Public+Sans:wght@300;400&display=swap");
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: 60% auto;
  padding: 0.3em;
  background: #DBDBDB;
}
.navbar .ham {
  display: flex;
  justify-content: right;
}
.navbar .ham .mobile-menu {
  width: 20px;
  cursor: pointer;
}
.navbar .social-header {
  display: none;
}
.navbar .logo {
  color: black;
  letter-spacing: 0.2em;
  font-size: 107%;
}
.navbar nav {
  display: none;
}

.hero {
  background: white;
  color: black;
  display: grid;
  text-align: center;
  padding: 4em;
  border-bottom-style: solid;
  border-bottom-color: #b3b3b3;
  border-top-style: solid;
  border-top-color: #b3b3b3;
}
.hero .portrait {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.125);
  padding: 0.5rem;
  width: 100px;
  border-radius: 50%;
}

.skills {
  background: #DBDBDB;
  padding: 2em;
  padding-top: 7em;
}
.skills .whitecentered {
  color: black;
  text-align: center;
  font-weight: bold;
}
.skills .skills-container {
  margin-bottom: 1em;
  padding: 2em;
  text-align: center;
}

.aboutme {
  color: black;
  background: white;
  text-align: center;
  padding: 2em;
}
.aboutme .coloredcentered {
  font-weight: bold;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul {
  margin-top: 3em;
}
nav .mobile-menu-exit {
  display: block;
  width: 20px;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-exit {
    display: none !important;
  }

  .navbar {
    display: grid;
    grid-template-columns: 40% auto;
    align-items: center;
  }
  .navbar .ham {
    display: none;
  }
  .navbar nav {
    display: block;
    background: none;
    position: unset;
    height: auto;
    width: unset;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
    justify-content: right;
    font-size: 90%;
    margin: 0;
  }
  .navbar nav a {
    color: black;
    display: block;
    padding: 0 0.5em;
  }
}
@media only screen and (min-width: 850px) {
  .navbar {
    grid-template-columns: 22% 56% 22%;
  }
  .navbar nav {
    display: flex;
    justify-content: center;
    background: ul;
    background-display: flex;
    background-justify-content: center;
  }
  .navbar nav a {
    color: black;
    display: block;
    padding: 0 0.5em;
  }

  .social-header {
    display: block !important;
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    float: right;
  }
  .social-header ul img {
    width: 18px;
    margin: 0 0.6em 0 0.6em;
    vertical-align: middle;
    display: inline-block;
  }

  .recentwork {
    margin-bottom: -7em;
  }

  .projects-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
